.endNav {
  margin-right: 0;
  margin-left: auto;
}

.form {
  margin-top: 5rem;
  border: solid 0.04em rgb(145, 220, 233);
  padding: 2rem;
  box-shadow: 0 0 20px rgba(33, 33, 33, 0.2);
}

.additionalText {
  display: inline-block;
  padding-top: 2rem;
}

.additionalText p {
  color: rgba(53, 52, 52, 0.719);
}
